body {
  overflow: hidden;
  background-color: black;
}

button {
  margin: 10px 5px;
  width: 32px;
  padding: 0;
  background-color: hsla(0, 0, 0, 0.5);
  border: 1px solid lightgray;
  border-radius: 5px;
  color: lightgray;
}

a {
  color: whitesmoke;
}

h3 {
  margin-top: -0.5em;
}

#container {
  overflow: none;
  transform-origin: top left;
  transition-property: all;
  transition-duration: 0.2s;
}

.ripple {
  transition-property: all;
  transition-duration: 0.5s;

  background-color: hsla(255, 255, 255, 0.4);
  border-radius: 50%;
  position: absolute;
  height: 1px;
  width: 1px;
}

.ripple-full {
  transform: scale(48);
}

.ripple-fade {
  background-color: hsla(0, 0, 0, 0);
}

.label {
  position: absolute;
  border: solid 1px hsla(255, 255, 255, 0.5);
  color: hsla(0, 0, 0, 0);
  transition-property: all;
  transition-duration: 0.5s;

  &:hover {
    background-color: hsla(0, 0, 0, 0.5);
    color: white;
  }

  > p {
    text-align: center;
    margin-top: 25%;
  }
}

#modal {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: hsla(0, 0, 0, 0.5);
}

.box {
  background-color: black;
  color: whitesmoke;
  border-radius: 5px;
  max-width: 500px;
  margin: 15% auto;
  padding: 2em;
}

#controls {
  background-color: hsla(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 48px;
  color: whitesmoke;
  padding: 0 10px;

  transition-property: top;
  transition-duration: 0.2s;

  ul,
  li {
    display: inline-block;
    margin: 0 5px;
  }

  &.hidden {
    top: -48px;
    #names {
      top: -48px;
    }
  }
}

#zoom {
  max-width: 130px;
  margin: 0 auto;
}

#names {
  position: fixed;
  right: 0;
  top: 0;
  padding: 10px 15px;
  max-width: 40vw;
  overflow: hidden;
  white-space: nowrap;

  span {
    margin: 0 5px;
  }
}

#toggle {
  position: fixed;
  top: 2px;
  left: 10px;
  z-index: 2;
  background: hsla(0, 0, 0, 0.5);
}

.found {
  color: gray;
}
