body {
  overflow: hidden;
}

#container {
  overflow: none;
}

.ripple {
  transition-property: all;
  transition-duration: 0.5s;

  background-color: hsla(255, 255, 255, 0.4);
  border-radius: 50%;
  position: absolute;
  height: 1px;
  width: 1px;
}

.ripple-full {
  transform: scale(48);
}

.ripple-fade {
  background-color: hsla(0, 0, 0, 0);
}

.label {
  position: absolute;
  border: solid 1px hsla(255, 255, 255, 0.5);
  color: hsla(0, 0, 0, 0);

  &:hover {
    border-style: none;
    background-color: hsla(0, 0, 0, 0.5);
    color: white;
  }
}

#modal {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: hsla(0, 0, 0, 0.5);
}

.box {
  background-color: whitesmoke;
  border-radius: 5px;
  max-width: 500px;
  margin: 15% auto;
  padding: 2em;
}

#sidebar {
  background-color: hsla(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  max-width: 250px;
  height: 100%;
  color: whitesmoke;
}

.found {
  color: gray;
}
